@import 'nullstyle.scss';

$maintxt-color: #373A39;
$titletxt-color:#242121;
$greentxt: #9CB58C;
$bgc: #F6F8FA;

@mixin stats ($mgn) {
    position: relative;

    &-precentage{
        margin-right: calc(100% - #{$mgn} - 16px);
    }

    &::after{
        content: '';
        position: absolute;
        width: calc(100% - (100% - #{$mgn}));
        height: 2px;
        top: -4px;
        left: 0;
        background-color: #000;
    }
}

@mixin cards ($src, $t){
    width: 370px;
    padding-left: 90px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: $t;
        left: 0;
        background: url($src) 0 0 no-repeat;
    }
}

@mixin activ ($w){
    &--active{
        position: relative;
        &::after{
            content:'';
            position: absolute;
            top: 22px;
            left: -6px;
            width: $w;
            height: 2px;
            background-color: $greentxt;
        }
    }
}

body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: $maintxt-color;
    background-color: #fff;
}

.header{
    background: url('/Source/images/Header-bg.jpg') 0 0/cover no-repeat; 
    height: 100vh;
    position: relative;

    &__container{
        max-width: 1440px;
        margin: 0 auto;
    }
    
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__logo{
        margin: 26px 0;
    }

   &__content{
       text-align: center;
   }

   &__title{
        margin-top: 240px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 122px;
        color: #F8F2F0;
   }

   &__subtitle{
        margin-top: 18.5px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2.74px;
        color: #9CB58C;
   }

   &__downpic{
       position: absolute;
       left: 50%;
       bottom: 30px;
   }
}

.menu{
    &__list{
        display: flex;
    }

    &__item{
        margin-left: 50px;

        &:first-child{
            margin-left: 0;
        }

        & a:hover{
            color: #839876;
        }

        & a:active{
            color: $greentxt;
        }

        @include activ(50px);
    }

    &__link{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.6px;
        color:$maintxt-color;
    }
}

.container{
    max-width: 1174px;
    margin: 0 auto;
}

.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color:$titletxt-color;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 60px;
        height: 4px;
        top: 74px;
        left: 0;
        background-color: $greentxt;
    }
}

.about{
    background-color:$bgc;
    padding-top: 150px;
    padding-bottom: 160px;  
    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        width: 770px;
        
        & p:last-child{
            margin-top: 24px;
        }
    }
}

.expertise{
    padding-top: 150px;
    padding-bottom: 160px;

    &__title{
        margin-bottom: 120px;
    }

    &__wrapper1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 110px;
    }

    &__statistics{
        padding-top: 12px;
    }

    &__statistics-item{
        position: relative;
        width: 370px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        &:last-child{
            margin-bottom: 0;
        }

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: -4px;
            left: 0;
            background-color: #F0F0F0;
        }

        & p{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #1D1D1D;
        }
    }

    &__branding{
        @include stats(90%);
    }

    &__design{
        @include stats(80%);
    }

    &__development{
        @include stats(85%);
    }

    &__text{
        width: 770px;
        & p:last-child{
            margin-top: 24px;  
        }
    }

    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item{
            width: 370px;
            padding-left: 90px;
            position: relative;
        }

        &-title{
            margin-bottom: 14px;

            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 4.29px;
            color: #333333;
        }
    }

    &__graphdes{
        @include cards('/Source/icons/graph-des.svg', 0);
    }

    &__webdev{
        @include cards('/Source/icons/web-dev.svg', 0);
    }

    &__mark{
        @include cards('/Source/icons/speaker.svg', -10px);

    }
}

.offer{
    background-color: $bgc;

    &__inner{
        display: flex;
    }

    &__wrapper{
        margin: 102px 0 180px 0;
        max-width: 470px;
        float: right;
    }

    &__img{
        position: relative;
        left: -135px;
    }

    &__text p:last-child{
        margin-top: 24px;
    }   
}

.portfolio{

    padding-top: 140px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__menu .menu__item{
        @include activ(33px);
    }
    
}
